.feature {
    position: relative;
    padding: 40px 40px 0 70px;
    text-align: left;
    &:last-child {
        padding-bottom: 40px;
    }
    &_house {
        background: url("../img/icon-house.svg") no-repeat;
    }
    &_gift {
        background: url("../img/icon-gift.svg") no-repeat;
    }
    &_burger {
        background: url("../img/icon-burger.svg") no-repeat;
    }
}

.feature__icon {
    display: inline-block;
    vertical-align: middle;
    width: 76px;
    height: 75px;
}

.feature__title {
    font-size: 18px;
}
