.form {
    background: white;
}

.form__button {
    width: 280px;
    padding: 18px 0;
    font-family: @font-family;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: @bg-color;
    border: 0;
}
