.header {
    position: relative;
    width: @width;
    margin: 0 auto;
}

.header__btn {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 22px;
    height: 22px;
    border: 0;
    background: transparent url("../img/icon-cross.svg") no-repeat;
    cursor: pointer;
}

.header__hamburger {
    position: absolute;
    z-index: 2;
    top: 218px;
    right: 20px;
    width: 22px;
    height: 22px;
    border: 0;
    background: transparent url("../img/icon-menu.svg") no-repeat;
    cursor: pointer;
}

@media @tablet-width {
    .header {
        width: 768px;
    }
    .header__btn,
    .header__hamburger {
        display: none;
    }
}

@media @desktop-width {
    .header {
        width: 1200px;
    }
    
}
