.intro {
    position: relative;
    padding: 5px 25px;
    color: black;
    background: white;
    &_top-page::after {
        content: url("../img/bg-triangle.svg");
        position: absolute;
        bottom: -42px;
        margin-left: -160px;
    }
    &_photo-page {
        border-bottom: @border;
    }
    &_form-page {
        border-bottom: @border;
        padding-bottom: 20px;
    }
    &_bottom {
        padding: 0 35px 35px;
        .intro__description {
            margin: 0;
        }
    }
}

.intro__title {
    margin: 0;
    padding-top: 38px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
}

.intro__description {
    line-height: 26px;
}

@media @tablet-width {
    .intro {
        padding: 60px 140px;
        &_top-page::after {
            display: none;
        }
        &_photo-page {
            padding: 60px 165px;
            border-bottom: none;
        }
        &_form-page {
            border-bottom: none;
        }
        &_bottom {
            padding: 65px 170px;
            .intro__title {
                padding-bottom: 20px;
            }
        }
    }
    .intro__title {
        padding: 0;
        font-size: 21px;
    }
}

@media @desktop-width {
    .intro {
        padding: 60px 380px;
    }
}
