.intro {
    height: 221px;
    padding: 0 20px;
    color: black;
    background: white;
    &__title {
        margin: 0;
        padding-top: 38px;
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 26px;
    }
    &__description {
        line-height: 26px;
    }
    &_top-page::after {
        content: url("../img/bg-triangle.svg");
        position: absolute;
        top: 866px;
        left: 50%;
        margin-left: -160px; 
    }
    &_photo-page {
        border-bottom: @border;
    }
    &_form-page {
        border-bottom: @border;
        padding-bottom: 20px;
    }
    &_bottom {
        padding: 0 20px;
    }
}
