.page-content {
    width: @width;
    margin: 0 auto;
    font-family: @font-family;
    font-size: @font-size;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
}

.page-content__photo-intro {
    &_top {
        height: 389px;
        background: @bg-color url("../img/bg-back-mobile@1x.jpg") -224px 0;
    }
    &_photo,
    &_form {
        height: 158px;
        background: @bg-color url("../img/bg-back-mobile@1x.jpg") -224px -231px;
    }
    &_top::after,
    &_photo::after,
    &_form::after {
        content: url("../img/bg-intro-triangle-mobile.svg");
        position: absolute;
        top: 391px;
        left: 50%;
        margin-left: -160px;
    }
    &_top::after {
        top: 622px;
    }
}

.page-content__img {
    margin-top: 52px;
}

.page-content__features {
    background: white;
}

.page-content__photo {
    line-height: 0;
}

.page-content__map {
    line-height: 0;
}

.photo-intro {
    margin-top: 90px;
}
