.photo {
    padding: 22px 20px;
    text-align: left;
	background-color: white;
	border-bottom: @border;
	&__title {
	    font-size: @font-size;
	    font-weight: bold;
	}
	&__author {
	    font-size: @font-size;
	    text-transform: none;
	}
}

.likes {
    display: flex;
    vertical-align: middle;
    max-width: 70px;
    justify-content: space-between;
    align-items: center;
    &__icon {
        display: inline-block;
        vertical-align: middle;
        width: 23px;
        height: 21px;
        background: url("../img/icon-like.svg") no-repeat;
    }
    &__number {
	    font-size: @font-size;
	    font-weight: bold;
    }
}